* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  color: white;
  font-family: "Montserrat", sans-serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../img/background/image.jfif");
}

@media (min-width: 320px) {
  html {
    font-size: 6px;
  }
}

@media (min-width: 580px) {
  html {
    font-size: 8px;
  }

  .application {
    padding: 40px;
  }
}

@media (min-width: 810px) {
  html {
    font-size: 12px;
  }
  .application {
    padding: 40px 90px 90px;
  }
}

@media (min-width: 1250px) {
  html {
    font-size: 16px;
  }

  .application {
    padding: 40px 90px 97px;
  }
}

.application {
  min-width: 320px;
  min-height: 100%;
  height: 100%;
}

.grid {
  display: grid;
  max-width: 1260px;
  height: 100%;
  grid-template-areas: "menu" "voice-recognition" "weather-today" "forecast" "location";
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0 auto;
}

@media (min-width: 570px) {
  .grid {
    grid-template-areas: "menu voice-recognition" "weather-today weather-today" "forecast forecast" "location location";
    grid-template-rows: 44px repeat(auto-fit, auto);
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1250px) {
  .grid {
    grid-template-areas: "menu voice-recognition" "weather-today location" "forecast location";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 375px;
    max-height: 750px;
  }
}

.menu {
  grid-area: menu;
  display: flex;
}

.refresh-background {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(174, 181, 185, 0.5);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.locales {
  width: 70px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(174, 181, 185, 0.5);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.locales select {
  background-color: rgba(174, 181, 185, 0);
  color: white;
  border: 0;
  width: 70px;
  text-align-last: center;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
}

.locales option {
  background-color: rgb(174, 181, 185);
}

.temperature-description {
  display: flex;
  height: 45px;
  width: 90px;
  margin-left: 10px;
}

.temperature-description .temperature.fahrenheit,
.temperature-description .temperature.celsius {
  width: 45px;
  height: 45px;
  background-color: rgba(174, 181, 185, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

.temperature-description .temperature.celsius {
  border-radius: 0 5px 5px 0;
}
.temperature-description .temperature.fahrenheit {
  border-radius: 5px 0 0 5px;
}

.refresh-image {
  width: 20px;
  height: 20px;
  fill: white;
  transition: all 0.5s;
}

.refresh-image:hover {
  transform: rotate(180deg);
}

.disabled {
  opacity: 0.2;
  transition: all 0.5s;
}

.search-field {
  position: relative;
  width: 100%;
}

.voice-recognition {
  display: flex;
  grid-area: voice-recognition;
}

.voice-recognition .search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(174, 181, 185, 0.5);
  margin: 0;
  padding: 0px;
  height: 45px;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
}

.search-field input[type="text"] {
  height: 45px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding-left: 20px;
  border-radius: 10px 0 0 10px;
  border: 0.5px solid grey;
}

.search-field input[type="text"]::placeholder {
  color: white;
}

.search-field .talk {
  background: url(../img/icon/mic.svg) center no-repeat;
  height: 18px;
  width: 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 28%;
}

.weather-today {
  grid-area: weather-today;
  margin-top: 40px;
  justify-self: center;
  align-self: center;
}

@media (min-width: 1250px) {
  .weather-today {
    align-self: flex-start;
    margin-top: 60px;
  }
}

.temperature {
  display: grid;
  grid-template-areas: "weather-degree icon" "weather-degree today-content";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
}

.weather-degree {
  font-size: 19rem;
  grid-area: temp;
  grid-area: weather-degree;
}

.today-content {
  grid-area: today-content;
}

.icon {
  grid-area: icon;
}

.today-info {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
}

.city {
  font-size: 40px;
  text-transform: uppercase;
}

.time {
  font-size: 22px;
}

.forecast {
  grid-area: forecast;
  display: flex;
  margin-top: 40px;
  justify-self: center;
  justify-content: space-evenly;
}

.forecast-day {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.forecast-temperature {
  font-size: 5rem;
}

.forecast-info {
  display: flex;
}

.location {
  grid-area: location;
  justify-self: center;
  margin-top: 40px;
}

@media (min-width: 1250px) {
  .location {
    justify-self: flex-start;
    align-self: end;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

#map {
  top: 0;
  bottom: 0;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}
